@charset "UTF-8";

body {
  background: #f4f2ec url(../imagens/fundo.png) repeat-x;
  font: 12px "Lucida Grande", "Lucida Sans Unicode", "Arial", sans-serif;
}

#container {
  margin: 0px auto;
  width: 1080px;
}

a {
  color: #af670a;
  text-decoration: none;
}

a:hover {
  color: #227115;
}

/*Logo*/
#logo h1 {
  float: left;
}

#logo a {
  background: url(../imagens/logo.png) no-repeat;
  display: block;
  text-indent: -9999px;
  height: 21px;
  width: 248px;
}

/*Barra de navegação*/
header {
  padding: 15px 0px;
  height: 55px;
}

nav ul {
  float: right;
  list-style-type: none;
  margin: 20px;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  margin-right: 25px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 1px solid #af670a;
}

/*Principal*/
#content {
  float: left;
  margin-bottom: 20px;
  width: 710px;
}

aside {
  background: #ebe7ee;
  float: right;
  margin-bottom: 20px;
  padding-bottom: 30px;
  width: 350px;
}

section#visit {
  background: #cdc8c1;
  margin-top: 10px;
  padding: 10px 27px 27px 27px;
}

#gallery {
  padding: 0px 27px 0px 27px;
}

section#gallery a {
  background: url(../imagens/fundo-foto.png) no-repeat;
  float: left;
  margin: 10px 0px 0px 20px;
  padding: 17px 15px 17px 15px;
  display: block;
}

section#gallery img {
  margin-left: 2px;
  margin-top: 3px;
}

article#video {
  float: left;
  margin-left: 25px;
  width: 310px;
}

article#map {
  float: left;
  margin-left: 37px;
  width: 310px;
}

article#exhibitions {
  float: left;
  margin: 15px 0px 0px 25px;
  width: 310px;
}

article#history {
  float: left;
  margin: 15px 0px 0px 37px;
  width: 310px;
}

h3 {
  color: #227115;
  font-size: 1em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h4 {
  color: #86521a;
  margin-bottom: 0px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

/*Formularios*/
input {
  background: #fff;
  border: none;
  font-size: 1em;
  height: 20px;
  width: 80px;
}

input.field {
  border: 1px solid #ada484;
}

input.button {
  background: #9b9271;
  color: #fff;
  font-size: 1.2em;
  height: 40px;
  width: 100%;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

/*Rodapé*/
footer {
  background: url(../imagens/fundo-rodape.png) no-repeat top center;
  padding: 20px 0px 30px 0px;
  text-align: center;
  clear: both;
}

footer > p a {
  padding: 2px 10px;
}
